
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% include 'header.html' %}   
  <body>
    
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">Post</h1>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  Post
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-2 mb-5 mb-lg-0"
            data-aos="fade-up"
            data-aos-delay="100"
          >
           
          </div>
          <div class="container-xl px-4 mt-4">
            <!-- Account page navigation-->
            {% comment %} <nav class="nav nav-borders">
                <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details" target="__blank">Profile</a>
                <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page" target="__blank">Billing</a>
                <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page" target="__blank">Security</a>
                <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page"  target="__blank">Notifications</a>
            </nav> {% endcomment %}
            <hr class="mt-0 mb-4">
            <div class="row">
                <div class="col-xl-4">
                  <form action="" method="post" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Profile Picture</div>
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            {% if user_profile.profile_pic %}
                            <div class="img-account-profile rounded-circle mb-2" id="uploadFileStatus" style="width: 200px; height: 200px; border-radius: 50%; margin: auto;">    <img src="{{ user_profile.profile_pic.url }}" style="width: 100%; height: 100%; border-radius: 50%;"></div>
                            {% else %}
                              <p>No profile picture found.</p>
                            {% endif %}
                                
                            <!-- Profile picture help block-->
                            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                            <!-- Profile picture upload button-->
                            <input name ="profile_pic" type="file" id="imageUploadInput" accept=".jpg,.png"> 
                            
                            <div id="uploadFileStatus"></div>
                            <div class="fileInfomation">
                              <p>
                                  Tên file: 
                                  <span id="fileInfomation_name">----</span>
                              </p>
                              <p>
                                  Định dạng: 
                                  <span id="fileInfomation_type">----</span>
                              </p>
                              <p>
                                  Dung lượng: 
                                  <span id="fileInfomation_size">----</span>
                              </p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Account Details</div>
                        <div class="card-body">
     
                                <!-- Form Group (username)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                                    <input disabled class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="{{ user.username }}">
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputFirstName">First name </label>
                                        <input class="form-control" name="first_name" id="inputFirstName" type="text" placeholder="{{ user.first_name }}" value="">

                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputLastName">Last name</label>
                                        <input class="form-control" name="last_name" id="inputLastName" type="text" placeholder="{{ user.last_name }}" value="">
                                    </div>
                                </div>
                               
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                    <input class="form-control" name="email" id="inputEmailAddress" type="email" placeholder="{{ user.email }}" value="">
                                </div>
                             
                                   
                                  <div class="mb-3">
                                    <label class="small mb-1" for="inputFB">Facebook</label>
                                    <input class="form-control" name="facebook" id="inputFB" type="text" placeholder="{{ user_profile.fblink }}" value="">
                                </div>
                               
                              
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
             
                
             
      

    <div class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="widget">
              <h3>Contact</h3>
              <address>43 Raymouth Rd. Baltemoer, London 3910</address>
              <ul class="list-unstyled links">
                <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
                <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
                <li>
                  <a href="mailto:info@mydomain.com">info@mydomain.com</a>
                </li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="widget">
              <h3>Sources</h3>
              <ul class="list-unstyled float-start links">
                <li><a href="#">About us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Vision</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
              <ul class="list-unstyled float-start links">
                <li><a href="#">Partners</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Creative</a></li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="widget">
              <h3>Links</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Our Vision</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>

              <ul class="list-unstyled social">
                <li>
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-linkedin"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-pinterest"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-dribbble"></span></a>
                </li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <div class="row mt-5">
          <div class="col-12 text-center">
            <!-- 
              **==========
              NOTE: 
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
              **==========
            -->

            <p>
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              . All Rights Reserved. &mdash; Designed with love by
              <a href="https://untree.co">Untree.co</a>
              <!-- License information: https://untree.co/license/ -->
            </p>
            <div>
              Distributed by
              <a href="https://themewagon.com/" target="_blank">themewagon</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
   
    </div>
    <!-- /.site-footer -->

    <!-- Preloader -->
    {% comment %} <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div> {% endcomment %}
    <script> 
      // Get the input element
      const input = document.getElementById('imageUploadInput');
      const uploadFileStatus = document.getElementById('uploadFileStatus');
    
      // Add an event listener to handle file selection
      input.addEventListener('change', (event) => {
        // Remove existing image
        const existingImage = uploadFileStatus.querySelector('img');
        if (existingImage) {
          uploadFileStatus.removeChild(existingImage);
        }
    
        // Get the selected file
        const file = event.target.files[0];
    
        // Create a file reader object
        const reader = new FileReader();
    
        // Set up the file reader event handlers
        reader.onload = (event) => {
          // Get the URL of the selected image
          const imageUrl = event.target.result;
    
          // Display the selected image
          const imageElement = document.createElement('img');
          imageElement.src = imageUrl;
          imageElement.style.width = '200px';
          imageElement.style.height = '200px';
          imageElement.style.borderRadius = "50%"; // set the border radius to 50%
    
          uploadFileStatus.appendChild(imageElement);
        };
    
        // Read the selected file as a data URL
        reader.readAsDataURL(file);
    
        // Display file information
        document.getElementById('fileInfomation_name').textContent = file.name;
        document.getElementById('fileInfomation_type').textContent = file.type;
        document.getElementById('fileInfomation_size').textContent = file.size;
      });
    </script>
    
    {% include 'footer.html' %}  
   
  </body>

</html>