<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />

    <link rel="stylesheet" href="{% static 'css/tinyslider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    

    <title>
      Property &mdash; Free Bootstrap 5 Website Template by Untree.co
    </title>
  </head>

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <nav class="site-nav">
    <div class="container">
      <div class="menu-bg-wrap">
        <div class="site-navigation">
          <a href="{% url "home" %}" class="logo m-0 float-start">Property</a>

          <ul
            class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
          >
            <li ><a href="{% url "home" %}">Home</a></li>
            <li >
              <a href="{% url "properties" %}">Properties</a>
              {% comment %} <ul class="dropdown">
                <li><a href="#">Buy Property</a></li>
                <li><a href="#">Sell Property</a></li>
                <li class="has-children">
                  <a href="#">Dropdown</a>
                  <ul class="dropdown">
                    <li><a href="#">Sub Menu One</a></li>
                    <li><a href="#">Sub Menu Two</a></li>
                    <li><a href="#">Sub Menu Three</a></li>
                  </ul>
                </li>
              </ul> {% endcomment %}
            </li>
            
            {% if user.is_authenticated and user.userprofile.is_host %}
            <li><a href="{% url 'review' %}">Review</a></li>
            <li><a href="{% url 'post' %}">Đăng Bài</a></li>
            {% else %}
            <li><a href="{% url 'becomeahost' %}">Become a host</a></li>
            {% endif %}
        
           
            {% if user.is_authenticated %}
          
              <li class="has-children">
                <a href="#">Xin Chào,  {{ user.first_name }}  {{ user.last_name }}</a>
                <ul class="dropdown">
                  <li><a href="{% url "logout" %}">LogOut</a></li>
                  <li><a href="{% url "profile" %}">Frofile</a></li>
                  <li><a href="{% url "show_favorite" %}">Favorites</a></li>
                </ul>
              </li>
                {% comment %} <li><a class="nav-menu-item dropdown-item" href="{% url "logout" %}">LogOut</a></li>
                <li><a class="nav-menu-item dropdown-item" href="{% url "mypost" %}">Bài đăng cá nhân</a></li>
                <li><a class="nav-menu-item dropdown-item" href="{% url "show_profile" %}">Trang cá nhân</a></li> {% endcomment %}
       
                {% comment %} <a href"{% url "post" %}" class="nav-menu-item dropdown-item">  Trang Cá Nhân <li>  </li> </a>
                <a href"{% url "change_password" %}" class="nav-menu-item dropdown-item">  Đổi Mật Khẩu  <li>  </li> </a> {% endcomment %}
               
            
     
            
            {% else %}
            <li><a href="{% url "login" %}">Login</a></li>
            <li><a href="{% url "register" %}">Register</a></li>
            {% endif %}
          </ul>

          <a
            href="#"
            class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
            data-toggle="collapse"
            data-target="#main-navbar"
          >
            <span></span>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <div class="hero">
    <div class="hero-slide">
      <div
        class="img overlay"
        style="background-image: url('{% static 'images/hero_bg_3.jpg' %}')"
      ></div>
      <div
        class="img overlay"
        style="background-image: url('{% static 'images/hero_bg_2.jpg' %}')"
      ></div>
      <div
        class="img overlay"
        style="background-image: url('{% static 'images/hero_bg_1.jpg' %}')"
      ></div>
    </div>

